.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-white);
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5em;
  outline: none;
  box-shadow: 0 1.25rem 1.5rem var(--color-primary-light);
  transition: all 0.3s;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}
