.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.7rem;
}

.container {
  padding: 2.5rem;
}

.brand {
  font-size: 0.75rem;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.name {
  font-size: 2.25rem;
  color: var(--color-very-dark-grayish-blue);
  margin-bottom: 2.8rem;
}

.description {
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-dark-grayish-blue);
  margin-bottom: 2rem;
}

.price {
  font-size: 1.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.discount {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

.oldPrice {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-grayish-blue);
  margin-bottom: 2.5rem;
}

.cartControls {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
